<nav class="navbar navbar-expand-lg " style="background-color: rgba(220, 241, 230, 0.74);">
    <a class="navbar-brand" routerLink="user" style="color: rgba(16, 112, 190, 0.815);" ><b>Github-Search</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/user" style="color: rgba(16, 112, 190, 0.815);">User-Info</a>
        <a class="nav-item nav-link active" routerLink="/repository" style="color: rgba(16, 112, 190, 0.815);">Repositories</a>
      </div>
    </div>
  </nav>
