.card{
    width: 320px;
    padding: 20px;
    background-color: rgba(240, 237, 245, 0.377);
  }
  .hello{
  background-color:rgba(87, 93, 100, 0.678);
  color: black;
  margin-bottom: 2%;
  
}
.thisRepo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .viewhead{
      margin-left: 30px;
  }